<!DOCTYPE html>

<html>
    {% include 'hackathon/base.html' %}

    <body>
    <div class="container">
    	{% if user.is_authenticated and user.is_admin %}
        	{% include 'hackathon/dashboards/admin_dashboard.html' %}
        {% elif user.is_authenticated %}
        	{% include 'hackathon/dashboards/agency_dashboard.html' %}
        {% else %}
        	<h1> Please <a href="/hackathon/register">register</a> or <a href="/hackathon/login">login</a> </h1>
        {% endif %}
	</div>
    </body>
</html>
