<!DOCTYPE html>

<html>
    {% include 'hackathon/base.html' %}

    <body>
    <div class="container">
    	{% if user.is_authenticated %}
        	{% include 'hackathon/datacenterapp/admin_dashboard.html' %}
        {% else %}
        	<h1> Please <a href="/hackathon/register">register</a> or <a href="/hackathon/login">login</a> </h1>
        {% endif %}
	</div>
	<footer>
      <div class="container">
        <a href="https://github.com/jsabol/data-center-tool"><i class="fa fa-github-square"></i> View the project on github</a>
        
      </div>
    </footer>
    </body>
</html>
