<!DOCTYPE html>

<html>
    {% include 'hackathon/base.html' %}

    <body>
    	<div class="container">
    	<h1>Edit Data Center</h1>

    	<address>
		  <strong>9R-CA0093ZZ</strong><br>
		  1355 Market Street, Suite 900<br>
		  San Francisco, CA 94103<br>
		</address>

    	<form>

    		<div>
	    		<button class="btn btn-primary btn-lg" type="submit">Save</button>
	    		<button class="btn btn-primary btn-lg" type="submit" disabled>Submit</button>
    		</div>
    	</form>

    	</div>
    </body>
</html>