<!DOCTYPE html>

<html>
    {% include 'hackathon/base.html' %}

    <body>
    	<div class="container">
    	<h1>
    		<strong>Q3 / 2015</strong> - Chantilly - <em>Chantilly, Virginia</em>
    		<button class="btn btn-primary" style="float: right; right: 0px;">Export Data Center Report</button> <!-- <i class="fa fa-file-excel-o"></i>   -->
    	</h1>

    	<address>
		  <strong>Salt Lake City</strong><br>
		  1355 Market Street, Suite 900<br>
		  San Francisco, CA 94103<br>
		</address>

    	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
		  <div class="panel panel-default">
		    <div class="panel-heading" role="tab" id="headingOne-components">
		      <h4 class="panel-title">
		        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
		          PBS
		          
		        </a>
		      </h4>
		    </div>
		    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne-components">
		      <div class="panel-body">
		        <div class="panel-body">
		        	
		        	<div class="pull-right">
		        		<button class="btn btn-primary" style="margin-right: 5px;">Save</button>
		        		<button class="btn btn-success" style="margin-right: 10px;">Validate</button>
		        	</div>
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading" role="tab" id="headingTwo-components">
		      <h4 class="panel-title">
		        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
		          FAS
		        </a>
		      </h4>
		    </div>
		    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo-components">
		      <div class="panel-body">
		        <ul class="list-group">
		        	
		        	
				</ul>
		      </div>
		    </div>
		  </div>
		  <div class="panel panel-default">
		    <div class="panel-heading" role="tab" id="headingThree-components">
		      <h4 class="panel-title">
		        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
		          Component 3
		        </a>
		      </h4>
		    </div>
		    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree-components">
		      <div class="panel-body">
		        <ul class="list-group">
		        	
		        	
				</ul>
		      </div>
		    </div>
		  </div>
		</div>


    	</div>
    </body>
</html>