
body {
  font-family: 'Sergoe UI', 'Myriad Pro', 'san-serif';
  background-color: #e6e7e8;
}

.container{
  max-width:1100px;
}

div.well{
  height: 250px;
} 

.Absolute-Center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.Absolute-Center.is-Responsive {
  width: 50%; 
  height: 50%;
  min-width: 200px;
  max-width: 400px;
  padding: 40px;
}

#logo-container{
  margin: auto;
  margin-bottom: 10px;
  width:200px;
  height:30px;
  background-image:url('http://placehold.it/200x30/000000/ffffff/&text=Django+Hackathon+Starter');
}

.panel-heading {
  background-image:none;
}
.panel-body{
  padding:0;
  font-size: 18px;
}

@media screen and (max-width: 600px){
  .panel-body, .list-group-item{
    font-size: 16px !important;
  }
  .view-quarter .list-group-item .pull-right{
    display:none;
  }
}

.list-group-item{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.panel-body .list-group{
  padding:0;
  margin-bottom:0;
}

.panel-body .list-group .list-group-item{
  padding:0;
}

.panel-body .list-group .list-group-item a{
  padding: 15px;
  display: block;
  width: 100%;
}

#headingOne-regions {
  background-color: #4c74b9;
  background-image: none;
  color: white;
  border-radius: none;
}

#headingTwo-regions {
  background-color: #4c74b9;
  background-image: none;
  height: 50px;
  color: white;
  border-radius: none;
}

#headingThree-regions {
  background-color: #4c74b9;
  background-image: none;
  height: 50px;
  color: white;
  border-radius: none;
}

#headingFour-regions {
  background-color: #4c74b9;
  background-image: none;
  height: 50px;
  color: white;
  border-radius: none;
}

#headingOne-components {
  background-color: white;
  background-image: none;
  color: #6d6e70;
  border-radius: 0px;
  border-left: 10px #f7931d solid;

}

#headingTwo-components {
  background-color: white;
  background-image: none;
  height: 50px;
  color: #6d6e70;
  border-radius: 0px;
  border-left: 10px #009344 solid;
}

#headingThree-components {
  background-color: white;
  background-image: none;
  height: 50px;
  color: #6d6e70;
  border-radius: 0px;
  border-left: 10px #009344 solid;
}

.list-group-item {
  background-color: white;
  height: 50px;
  border-radius: none;
  font-size: 18px;
}

h4.panel-title {
  margin-top: 5px;
  font-size: 21px;
}

h1 {
  color: #4c74b9;
  margin-bottom: 30px;
}

h2 {
  color: #444444;
  font-size: 18px;
  font-weight: 300;
}
.btn-primary {
  background-color: #1f386c;
  background-image: none;
  padding-top: 7px;
  color: white;
  font-size: 14px;
}

.btn-success {
  background-color: #009344;
  background-image: none;
  padding-top: 7px;
  color: white;
  font-size; 14px;
}

.yellow-bar {
  background-color: white;
  background-image: none;
  color: #6d6e70;
  border-radius: 0px;
  border-left: 10px #f7931d solid;
}

.green-bar {
  background-color: white;
  background-image: none;
  height: 50px;
  color: #6d6e70;
  border-radius: 0px;
  border-left: 10px #009344 solid;
}

.red-bar{
   background-color: white;
  background-image: none;
  height: 50px;
  color: #6d6e70;
  border-radius: 0px;
  border-left: 10px #c solid;  
}

.component-spreadsheet-current {
  position: relative;
  width: 90%;
  height: 100px;
  border: 1px #d1d2d4 solid;
  background-color: white;
  float: center;
  left: 50%;
  margin-left: -45%;
}

.component-notes {
  position: relative;
  width: 90%;
  height: 100px;
  background-color: white;
  border: 1px #d1d2d4 solid;
  float: center;
  left: 50%;
  margin-left: -45%;
}

.component-title {
  left: 50%;
  margin-left: -45%;
  position: relative;
}

footer{
  background-color: white;
  position:absolute;
  bottom:0;
  padding: 2em 0;
  width:100%;
}